* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;

}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

body {
    position: relative;
    overflow-x: hidden;
}

.title {
    text-align: center;
    padding: 100px;
}

.title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;

}

.title .img {
    margin: 10px 0;
}

.title h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 680px;
    display: inline-block;


}


/*=======================================================================================*/
/*                                                                                nav-bar-start========================================================================================*/
nav {
    background: transparent;
    z-index: 8888;
    position: absolute !important;
    top: 50px;
    left: 0;
    width: 100%;
}

.navbar-nav .nav-item a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    transition: 0.4s;
    margin: 0 15px;
}

.navbar-nav .nav-item a:hover {
    color: #6e2449;
}

/*=======================================================================================*!*/
/*                                                                             nav-bar-End========================================================================================*/
/*=======================================================================================*!*/
/*                                                                             banner-start========================================================================================*/
#banner {
    background: url("../images/banner.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1400px;
    padding: 160px 0;
    text-align: center;
}

#banner .text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 400;
}

#banner .text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    margin: 20px;
}

#banner .text p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    width: 735px;
    display: inline-block;
}

#banner .button {
    background: linear-gradient(90deg, rgba(240, 41, 114, 1) 0%, rgba(247, 123, 127, 1) 70%);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 30px;
}

#banner .button a {
    color: white;
}

#banner .banner-f {
    padding: 60px 0;
}

#banner .banner-f .item {
    padding: 50px 15px 30px 15px;
    transition: 0.4s;
}

#banner .banner-f .text h5 {

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 24px 0;


}

#banner .banner-f .text h6 {

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;


}

#banner .banner-f .item:hover {
    border-top: 0;
    box-shadow: 0 3px 5px 1px rgba(171, 168, 171, 1);

}


/*=======================================================================================*!*/
/*                                                                             banner-stop========================================================================================*/

/*=======================================================================================*!*/
/*                                                                             Our App-start========================================================================================*/

#our-app {
    background: #f6f7fb;
    margin: 100px 0 0 0;

}

#our-app .left-s {
    margin-top: 130px;
}

#our-app .left-s h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;

}

#our-app .left-s p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

#our-app .left-s .btn {
    display: inline-flex;
    padding: 10px;
    border: 2px solid rgba(240, 41, 114, 1);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    align-items: center;
    border-radius: 30px;
    margin-top: 70px;
    transition: 0.4s;


}

#our-app .left-s .button p {
    font-weight: 500;
    margin-left: 10px;
    margin-top: 0;
}

#our-app .left-s .button h6 {
    font-weight: 700;
    margin-left: 20px;
}

#our-app .left-s .btn:hover {
    background: linear-gradient(90deg, rgba(240, 41, 114, 1) 0%, rgba(247, 123, 127, 1) 70%);
    color: #fff;
    margin-top: 45px;
}

#our-app .right-s {
    text-align: right;
}


/*=======================================================================================*!*/
/*                                                                             Our App-End========================================================================================*/
/*=======================================================================================*!*/
/*                                                                             How-it-Start========================================================================================*/
#how-it .how-main {
    margin: 60px 0;
}

#how-it .how-main .left-h {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#how-it .how-main .item {
    display: flex;
    margin: 50px 0;
    text-align: left;
    position: relative;
}

#how-it .how-main .item .img {
    padding: 20px;
}

#how-it .how-main .item .text h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

#how-it .how-main .item .text p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    padding-top: 10px;
    font-weight: 700;


}

#how-it .how-main .item .shape {
    position: absolute;
    top: 50%;
    right: -119px;

}

#how-it .how-main .mid-h {
    text-align: center;
}

#how-it .how-main .right-h {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*=======================================================================================*!*/
/*                                                                             How-it-End========================================================================================*/
/*=======================================================================================*!*/
/*                                                                          feature-part-start========================================================================================*/
#Awesome-feature {
    background: #f6f7fb;
}

#Awesome-feature .feature-main .f-item {
    display: flex;
    margin: 0 0 100px 0;


}

#Awesome-feature .feature-main .f-item .image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(240, 41, 114, 1);
    text-align: center;
    line-height: 60px;
    margin: 15px 7px 0 0;
    transition: 0.4s;
}

#Awesome-feature .feature-main .f-item .text h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

#Awesome-feature .feature-main .f-item .text h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;


}

#Awesome-feature .feature-main .f-item:hover .image {
    background: linear-gradient(90deg, rgba(240, 41, 114, 1) 0%, rgba(247, 123, 127, 1) 70%);
}

/*=======================================================================================*!*/
/*                                                                             feature-part-End========================================================================================*/

/*=======================================================================================*!*/
/*                                                                             counter-part-Start========================================================================================*/

#counter-part {
    padding: 50px;
    text-align: center;
}

#counter-part .video {
    position: relative;
}

#counter-part .s-vdi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#counter-part .counter {
    background: url("../images/counter-bg.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: -120px;
}

#counter-part .counter .item {
    margin: 240px 0 120px 0;
    color: #fff;
}

#counter-part .counter .item h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 30px 0 15px 0;
}

#counter-part .counter .item h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;

}

/*=======================================================================================*!*/
/*                                                                             counter-part-End========================================================================================*/


/*<!--===================================================-->*/
/*<!--                                                APP- Screensrt-start===================================================-->*/
#app-sknsrt {
    text-align: center;
    padding-bottom: 100px;
}

#app-sknsrt .images {
    background: url("../images/app-s.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 745px;

}


/*<!--===================================================-->*/
/*<!--                                                APP- Screensrt-End===================================================-->*/


/*<!--===================================================-->*/
/*<!--                                                Awesome-team-start===================================================-->*/

#awe-team {
    background: url("../images/awe-team.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 790px;
    color: #ffffff;
}

#awe-team .team .av-1 {
    height: 345px;
    background: url("../images/av-1.png") no-repeat center;
    background-size: cover;
    position: relative;


}

#awe-team .team .av-2 {
    height: 345px;
    background: url("../images/av-2.png") no-repeat center;
    background-size: cover;
    position: relative;


}

#awe-team .team .av-3 {
    height: 345px;
    background: url("../images/av-3.png") no-repeat center;
    background-size: cover;
    position: relative;


}

#awe-team .team .av-4 {
    height: 345px;
    background: url("../images/av4.png") no-repeat center;
    background-size: cover;
    position: relative;


}

#awe-team .team .overlay {
    width: 100%;
    height: 100%;
    background: rgba(240, 41, 114, 0.5);
    position: absolute;
    top: 30px;
    left: 30px;
    transform: scale(0);
    transition: 0.7s;
    text-align: center;
}

#awe-team .team .text {
    margin-top: 60px;
}

#awe-team .team .text h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

#awe-team .team .text h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 3px;
}

#awe-team .team .text h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 7px;
    width: 225px;
}

#awe-team .team .icon {
    position: absolute;
    bottom: 60px;
    right: 45px;
}

#awe-team .team .icon span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    color: #000;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}

#awe-team .av-1:hover .overlay {
    transform: scale(1);

}

#awe-team .av-2:hover .overlay {
    transform: scale(1);
}

#awe-team .av-3:hover .overlay {
    transform: scale(1);

}

#awe-team .av-4:hover .overlay {
    transform: scale(1);

}

#awe-team .team .icon span:hover {
    background: linear-gradient(90deg, rgba(240, 41, 114, 1) 0%, rgba(247, 123, 127, 1) 70%);
    color: #ffffff;
}

/*<!--===================================================-->*/
/*<!--                                                Awesome-team-End===================================================-->*/


/*<!--===================================================-->*/
/*<!--                                                team-slide-Start===================================================-->*/
#team .slide {
    padding: 100px;
}

#team .slide .item {
    width: 825px;
    margin: 0 auto 10px auto;
    box-shadow: 1px 1px 35px 1px rgba(69, 70, 77, 1);
    padding: 50px;
    position: relative;

}

#team .slide .item .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -32%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    background: url("../images/team-1.png") no-repeat center;
    background-size: cover;


}

#team .slide .item .text {
    text-align: center;
    font-family: 'Raleway', sans-serif;;
}

#team .slide .item .text h1 {
    font-weight: 700;
    font-size: 24px;
}

#team .slide .item .text h5 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;


}

#team .slide .item .text p {
    font-weight: 500;
    font-size: 16px;
    padding: 30px;
}

#team .slide .dot {
    text-align: center;
}

/*<!--===================================================-->*/
/*<!--                                                team-slide-End===================================================-->*/


/*===================================================*/
/*                                                   price-Start  ===================================================*/
#price-part {
    background: url("../images/price-bg.png") no-repeat center;
    background-size: cover;

}

#price-part .overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}


#price-part .price-item {
    background: #fff;
    text-align: center;
    width: 360px;


}

#price-part .price-item .date {
    padding: 40px;
}

#price-part .price-item h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    display: inline-block;
}

#price-part .price-item p {
    display: inline-block;
}

#price-part .price-item .plan {
    background: linear-gradient(90deg, rgba(240, 41, 114, 1) 0%, rgba(247, 123, 127, 1) 70%);
}

#price-part .price-item .plan h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
}

#price-part .price-item .plan-details {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 40px;
    border-bottom: 1px solid rgb(240, 41, 114);
}

#price-part .price-item .plan-details li {
    padding: 10px;
}

#price-part .price-item .price-cost {
    font-family: 'Raleway', sans-serif;
    padding: 40px;
}

#price-part .price-item .price-cost h6 {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

#price-part .price-item .price-cost a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgb(240, 41, 114);
    padding: 10px;
    border-radius: 20px;
}

/*===================================================*/
/*                                                   price-End  ===================================================*/